 /* Imports */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import "tailwindcss";

/* Themes */
@theme {
  /* Colors */
  --color-primary-blue-100: #E0F2FE;
  --color-black-100: #334155;
  --color-light-white: #F3F4F6;
  --color-grey: #6B7280;

  /* Background Images */
  --background-image-hero-bg: url("/hero-bg.png");
  --background-image-hero: url("/hero.png");
  --background-image-pattern: url("/pattern.png");
}

/* Base Reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  background-color: #ffffff;
  color: #111827;
}

/* General Utilities */

.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.custom-btn {
  @apply flex flex-row justify-center items-center py-3 px-6 outline-none;
}

/* Hero Styles */

.hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}

.hero__title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
}

.hero__subtitle {
  @apply text-[27px] text-black-100 font-light mt-5;
}

.hero__image-container {
  @apply xl:flex-[1.5] flex justify-end items-end w-full xl:h-screen;
}

.hero__image {
  @apply relative xl:w-full w-[90%] xl:h-full h-[590px] z-0;
}

.hero__image-overlay {
  @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[590px];
}

/*Home Styles*/

.home__text-container {
  @apply flex flex-col items-start gap-y-2.5 text-black-100;
}

.home__filters {
  @apply mt-12 w-full flex justify-between items-center flex-wrap gap-5;
}

.home__filter-container {
  @apply flex flex-wrap items-center gap-2;
}

.home__cars-wrapper {
  @apply grid 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-8 pt-14;
}

.home__error-container {
  @apply mt-16 flex justify-center items-center flex-col gap-2;
}

/*Car Card Styles*/

.car-card {
  @apply flex flex-col p-6 justify-center items-start text-black-100 bg-primary-blue-100 hover:bg-white hover:shadow-md rounded-3xl transition;
}

.car-card__content {
  @apply w-full flex justify-between items-start gap-2;
}

.car-card__content-title {
  @apply text-[22px] font-bold capitalize;
}

.car-card__price {
  @apply flex mt-6 text-[32px] font-extrabold;
}

.car-card__price-dollar {
  @apply self-start text-[14px] font-semibold;
}

.car-card__price-day {
  @apply self-end text-[14px] font-medium;
}

.car-card__image {
  @apply relative w-full h-40 my-3 object-contain;
}

.car-card__icon-container {
  @apply flex justify-between text-grey;
}

.car-card__icon {
  @apply flex flex-col items-center gap-2;
}

.car-card__icon-text {
  @apply text-[14px];
}

.car-card__btn-container {
  @apply hidden group-hover:flex absolute bottom-0 w-full z-10;
}

/*Car Details*/

.car-details__dialog-panel {
  @apply relative w-full max-w-lg max-h-[90vh] overflow-y-auto rounded-2xl bg-white p-6 shadow-xl flex flex-col gap-5;
}

.car-details__close-btn {
  @apply absolute top-2 right-2 p-2 bg-primary-blue-100 rounded-full;
}

.car-details__main-image {
  @apply relative w-full h-40 bg-pattern bg-cover bg-center rounded-lg;
}

/*Filter Styles*/

.custom-filter__btn {
  @apply w-full min-w-[127px] flex justify-between items-center rounded-lg bg-white py-2 px-3 shadow-md border;
}

.custom-filter__options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 shadow-lg ring-1 ring-black focus:outline-none;
}

/*Footer*/

.footer {
  @apply flex flex-col text-black-100 mt-5 border-t border-gray-100;
}

.footer__links-container {
  @apply flex flex-wrap justify-between gap-5 px-6 py-10;
}

.footer__links {
  @apply flex flex-wrap gap-20;
}

.footer__link {
  @apply flex flex-col gap-6 min-w-[170px];
}

.footer__copyrights {
  @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 px-6 py-10;
}

/* Search Bar*/

.searchbar {
  @apply flex items-center max-sm:flex-col w-full relative gap-4 max-w-3xl;
}

.searchbar__input {
  @apply w-full h-[48px] pl-12 p-4 bg-light-white rounded-full outline-none text-sm;
}

/*Search Manufacturer*/

.search-manufacturer__input {
  @apply w-full h-[48px] pl-12 p-4 rounded-full bg-light-white outline-none text-sm;
}

.search-manufacturer__options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 shadow-lg ring-1 ring-black focus:outline-none;
}

.search-manufacturer__option {
  @apply py-2 pl-10 pr-4;
}